.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:700px;
    gap:40px;

    .info-1{
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 80px;


        .divider {
            width: 64px;
            height: 2px;
            border-radius: 20px;
            opacity: 0.8;
            background: #E27866;
            margin: 20px 0;

          }

          h2{
            font-size: 36px;
          }
          p{
            font-size: 14px;
            color:#86878B;
          }
    }


    .info-2{
        display: flex;
        height: 400px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .info-2-inside{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 30%;
            height: 200px;
            gap:20px;
            h3{
                font-size: 20px;
               
            }
            p{
                font-size: 14px;
                color:#86878B;
                max-width: 40%;
                text-align: center;
            }
            .logo-container{
                height: 50px;
                width: 50px;
                border: 1px solid #E27866;
                border-radius: 60px;
                display: flex;
                
                align-items: center;
                justify-content: center;
                
            }
            img{
                height: 25px;
            }
        }
    }
}