nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background: #1c1c1c;
  width: 100%;
  position: fixed;
  top: 0;
  height: 80px;

  .nav-links {
    display: flex;

    a {
      color: #ffffff;
      padding: 0 44px;
      opacity: 69%;
      transition: 0.3s;
      &:hover {
        opacity: 1;
      }
    }
  }
}
