.section-4{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 590px;
   

    .info-1{
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: 36px;
        }
        .divider {
            width: 64px;
            height: 2px;
            border-radius: 20px;
           
            background: #6696E2;
            margin: 20px 0;
          }

    }

    .swiper {
        max-width: 1150px;
        height: 400px;
    
    .swiper-slide {
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
       
       }



        .swiper-pagination-bullet {
            background: #E27866 ;
            border: 1px solid #E27866;
            width: 10px;
            height: 10px;
        }

        .slide-1{
            display:flex;
            
            gap:20px;
            
            max-width:350px;
            
           


            .text-box{
                width:273px;
                height: 147px;
                border-radius: 8px;
                background: #6696E2;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                &::after{
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: -196px;
                    top: 142px;
                    bottom: 0;
                    right:0;
                    margin: auto;
                    background: #6696E2;
                    transform: rotate(45deg);
                    
                   
                }
               
                p{
                   
                    color: white;
                    padding: 30px;
                    font-size: 16px;
                    font-weight: 300;
                    


                    
                }

            }

            .photo-name{
               display: flex;
               width: 100%;
               justify-content: flex-start;
                gap:20px;
                align-items: center;
                


                h3{
                    color: #333333;
                    font-weight: 500;
                    font-size: 20px;
                }

                p{
                    color: #86878B;
                    font-size: 14px;
                }
                        
            }
        }
    
 }
}