.section-4 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 590px;

  .info-1 {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 36px;
    }
    .divider {
      width: 64px;
      height: 2px;
      border-radius: 20px;

      background: #6696e2;
      margin: 20px 0;
    }
  }

  .swiper {
    max-width: 1400px;
   

    .swiper-slide {
     padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: 0.1s;
    }

    .swiper-pagination-bullet {
      background: #e27866;
      border: 1px solid #e27866;
      width: 10px;
      height: 10px;
    }

    .slide-1 {
      display: flex; 
      gap: 20px;
      width: 350px;

      .text-box {
        width: 273px;
        height: 147px;
        border-radius: 8px;
        background: #6696e2;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          left: -196px;
          top: 142px;
          bottom: 0;
          right: 0;
          margin: auto;
          background: #6696e2;
          transform: rotate(45deg);
        }

        p {
          color: white;
          padding: 30px;
          font-size: 16px;
          font-weight: 300;
        }
      }

      .photo-name {
        display: flex;
        max-width: 25%;
        justify-content: flex-start;
        gap: 20px;
        align-items: center;

        h3 {
          color: #333333;
          font-weight: 500;
          font-size: 20px;
        }

        p {
          color: #86878b;
          font-size: 14px;
        }
      }
    }
  }
}



@media (max-width: 1300px){
    .section-4{
        .swiper{
            width:80%;
        }
    }
}

@media (max-width: 768px){
    .section-4{
        .info-1{
            h2{
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 500px){
    .section-4{
        .info-1{
            h2{
                font-size: 16px;
            }
        }
    }
}