.social-media{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 30px;
    
    
    .social-media-text{
      width: 50%;
      text-align: left;
      padding-left: 190px;
      padding-top: 10px;
    
      h3{
        padding: 5px 0;
        font-size: 22px;
      }
      p{
       
        width: 100%;
        font-size: 14px;
        color: #86878B;
        opacity: 0.8;
        line-height: 25px;
      }
     
    }
    .logos{
      width: 50%;
      height: 100%;
      padding-top: 40px;
      .inside-logos{
        height: 100%;
        margin-right:60px;
        display: flex;
        text-align: center;
        justify-content: space-between;
    
    
        .other-logos{
          opacity:0.67;
          transition: 0.3s;
          &:hover{
            opacity: 1;
          }
        }
        
       .logos-size{
        height: 30px;
        opacity: 0.67;
        transform: rotate(60deg);
        transition: 0.3s;
        &:hover{
          opacity: 1;
        }
        
       }
      }
    }
    
    
    }