@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");
@import "body.scss";
@import "nav.scss";
@import "header.scss";
@import "social-media";
@import "section";
@import "about";
@import "awesome";
@import 'pricing';
@import 'reviews';
@import 'contact';


.section-6{
    height:125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;

    h3{
        color: white;
        font-size: 18px;
        opacity: 0.8;
        margin-right: 120px;
        font-weight: 300;
    }

    .social-bottom{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:0 120px;
       
        .other-logos, .logos-size{
            height: 20px;
        }
        .logos-size{
            transform: rotate(45deg);
        }
    }
}