body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.img {
  background: url(../images/gulp.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 75px;
  animation: spin 5s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(2);
  }

  100% {
    transform: rotate(360deg) scale(1)
  }
}
